body {
    margin: 0;
}

.map {
    width: 100vw;
    height: 80vh;
    position: relative;
}

.location-icon {
    font-size: 2rem;
    position: absolute;
    transform: translate(-50%, -50%);
    color: red;
}